@model AttendanceApp.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center text-danger">Eliminar Empleado</h2>

<h3 class="text-info">Está seguro que quiere eliminar?</h3>
<div>
    <!--<h4>Employee</h4>-->
    <hr />
    <dl class="dl-horizontal">  
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
          </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRoles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRoles)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <button type="submit" class="btn btn-danger btn-lg">
        <span class="glyphicon glyphicon-trash"></span>
        Eliminar
    </button>
   <!-- <input type="submit" value="Delete" class="btn btn-default" />--> |
    @Html.ActionLink(" Regresar", "Index", "", new { @class = "btn btn-info btn-lg glyphicon glyphicon-arrow-left" })
</div>
    }
</div>
