@model IEnumerable<AttendanceApp.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Empleados Registrados</h2>

<p>
  
       @Html.ActionLink(" Nuevo Empleado", "Create","",new { @class = "btn btn-primary btn-large glyphicon glyphicon-user" })
   
</p>
<table class="table">
    <tr>
        <th>Nº</th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRoles)
        </th>
        <th>
            Qr
        </th>
        <th>Acción</th>
    </tr>
    @{ int i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
            @(i++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRoles)
            </td>
            <td>
                <img src="https://play-lh.googleusercontent.com/-CvY0c-MmYQf2xaJQ6TVj_PZO4lpKG3T-i78UOolkpMxwlUen3KsakPA7I8OOwjOx_Q=s128" width="20" />

            </td>
            <td>

                @Html.ActionLink("-Editar", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" }) |
                @Html.ActionLink("-Ver", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-eye-open" }) |
                @Html.ActionLink("-Eliminar", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
            </td>
        </tr>
    }

</table>

